body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #b3b3b3;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 400px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botoes {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    background-color: #001e60;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #3260c4;
}

#display {
    border-top: 2px solid #eee;
    padding-top: 15px;
}